.div1{
    display: flex;
    justify-content: space-between;
}
li{
list-style: none;
}
.img{
    display: flex;
   
}
.img1{
width: 300px;
height: 300px;
}
.img2{

width: 300px;
height: 300px;
}
.img3{

width: 300px;
height: 300px;
}

.img4{
    width: 300px;
    height: 300px;

}
.container3{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px;
}
button{
    padding: 5px 15px;
    border-radius: 10px;
    background-color: blue;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
}
/* }
.containerA{
    display: flex;
    float
    
}
.containerB{
    display: flex;
    flex-direction: row;

}
button{
    padding: 20px;
    margin: 1%;
    border-radius: 20px;
    background-color: gray;
    }
.
header{
display: flex;
flex-direction: row-reverse;
} */

/* .container3{
    background-color: black;
    display:flex ;
   } 
   container main{
    display : flex; */
   
    




